* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #ed6e61, #6359e1);
}

body {
    margin: 0;
    font-family: 'DM Sans';
}

button {
    font-family: 'DM Sans';
    border: none;
    color: #c4c4c4;
    background: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

a {
    text-decoration: none;
}