

body {
    margin: 0;
    font-family: 'DM Sans';
}

button {
    font-family: 'DM Sans';
    border: none;
    color: #c4c4c4;
    background: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

a {
    text-decoration: none;
}